.Search {
  border: 2px solid;
  border-radius: 10px;
  padding-left: 10px;
}

.btn-primary {
  margin: 5px;
}

.WeatherSearch {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: blue;
}
